:root {
  --clr-p-200: hsl(237, 18%, 59%);
  --clr-p-150: hsl(345, 95%, 70%);
  --clr-p-100: hsl(345, 95%, 68%);
  --clr-n-100: hsl(0, 0%, 100%);
  --clr-n-150: hsl(236, 21%, 30%);
  --clr-n-200: hsl(236, 21%, 26%);
  --clr-n-300: hsl(235, 16%, 14%);
  --clr-n-400: hsl(234, 17%, 12%);
  --ff-p: "Red Hat Text";
  --fs-p-100: clamp(0.62rem, 0.05vw + 0.61rem, 0.66rem);
  --fs-p-200: clamp(0.78rem, 0.06vw + 0.76rem, 0.82rem);
  --fs-p-300: clamp(0.97rem, 0.07vw + 0.96rem, 1.03rem);
  --fs-p-400: clamp(1.21rem, 0.09vw + 1.19rem, 1.29rem);
  --fs-p-500: clamp(1.52rem, 0.11vw + 1.49rem, 1.61rem);
  --fs-p-600: clamp(1.9rem, 0.14vw + 1.87rem, 2.01rem);
  --fs-p-700: clamp(2.37rem, 0.17vw + 2.33rem, 2.51rem);
  --fs-p-800: clamp(2.96rem, 0.22vw + 2.91rem, 3.14rem);
  --fs-p-900: clamp(3.71rem, 0.27vw + 3.64rem, 3.92rem);
  --fw-p-bold: 700;
  --container-padding: 1em;
  --border-radius: clamp(0.3125rem, 0.2232rem + 0.4464vw, 0.625rem);
}

/*** The new CSS Reset - version 1.2.0 (last updated 23.7.2021) ***/
/* Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property */
*:where(:not(iframe, canvas, img, svg, video):not(svg *)) {
  all: unset;
  display: revert;
}

/* Box sizing rules */
/* Remove default margin */
/* Inherit fonts for inputs and buttons... */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.text-p-200 {
  color: var(--clr-p-200);
}

.bg-p-200 {
  background-color: var(--clr-p-200);
}

.text-p-150 {
  color: var(--clr-p-150);
}

.bg-p-150 {
  background-color: var(--clr-p-150);
}

.text-p-100 {
  color: var(--clr-p-100);
}

.bg-p-100 {
  background-color: var(--clr-p-100);
}

.text-n-100 {
  color: var(--clr-n-100);
}

.bg-n-100 {
  background-color: var(--clr-n-100);
}

.text-n-150 {
  color: var(--clr-n-150);
}

.bg-n-150 {
  background-color: var(--clr-n-150);
}

.text-n-200 {
  color: var(--clr-n-200);
}

.bg-n-200 {
  background-color: var(--clr-n-200);
}

.text-n-300 {
  color: var(--clr-n-300);
}

.bg-n-300 {
  background-color: var(--clr-n-300);
}

.text-n-400 {
  color: var(--clr-n-400);
}

.bg-n-400 {
  background-color: var(--clr-n-400);
}

.container {
  --max-width: 1440px;
  width: min(var(--max-width), 100% - var(--container-padding, 1em));
  margin-inline: auto;
}

.flow > * + * {
  margin-top: var(--flow-spacer, 0.75em);
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.ff-p {
  font-family: var(--ff-p), sans-serif;
}

.fs-p-100 {
  font-size: var(--fs-p-100);
  line-height: calc(1.5 * var(--fs-p-100));
}

.fs-p-200 {
  font-size: var(--fs-p-200);
  line-height: calc(1.5 * var(--fs-p-200));
}

.fs-p-300 {
  font-size: var(--fs-p-300);
  line-height: calc(1.5 * var(--fs-p-300));
}

.fs-p-400 {
  font-size: var(--fs-p-400);
  line-height: calc(1.5 * var(--fs-p-400));
}

.fs-p-500 {
  font-size: var(--fs-p-500);
  line-height: calc(1.5 * var(--fs-p-500));
}

.fs-p-600 {
  font-size: var(--fs-p-600);
  line-height: calc(1.5 * var(--fs-p-600));
}

.fs-p-700 {
  font-size: var(--fs-p-700);
  line-height: calc(1.5 * var(--fs-p-700));
}

.fs-p-800 {
  font-size: var(--fs-p-800);
  line-height: calc(1.5 * var(--fs-p-800));
}

.fs-p-900 {
  font-size: var(--fs-p-900);
  line-height: calc(1.5 * var(--fs-p-900));
}

.fw-p-bold {
  font-weight: var(--fw-p-bold);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.header {
  margin-top: 11.1em;
  letter-spacing: 0.4em;
  text-align: center;
  line-height: 1.2;
}
@media (max-width: 400px) {
  .header {
    margin-top: 6em;
    letter-spacing: 0.2em;
  }
}

main {
  background-image: url("../../public/assets/pattern-hills.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}
main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -10;
  background-image: url("../../public/assets/bg-stars.svg");
}

.countdown {
  display: flex;
  max-width: 690px;
  justify-content: space-between;
  margin-inline: auto;
  gap: clamp(0.9375rem, 0.6339rem + 1.5179vw, 2rem);
  margin-top: 7em;
}
@media (max-width: 900px) {
  .countdown {
    margin-top: 4em;
  }
}
.countdown__labels {
  width: min-content;
  margin-top: 1.5em;
  margin-inline: auto;
}
@media (max-width: 400px) {
  .countdown__labels {
    font-size: 0.5rem;
  }
}

.enclosure {
  --_enclosure-width: clamp(3.75rem, 2.1786rem + 7.8571vw, 9.25rem);
  --_flap-font-size: clamp(2rem, 1.1429rem + 4.2857vw, 5rem);
  --_perspective: 1020px;
  --_animation-duration: 0.1s;
  --_bg-dark: var(--clr-n-200);
  --_bg-light: var(--clr-n-150);
  --_clr-dark: var(--clr-p-100);
  --_clr-light: var(--clr-p-150);
  --_front-side-num: "00";
  --_back-side-num: "00";
  --_top-side-num: "00";
  --_bottom-side-num: "00";
  position: relative;
  width: var(--_enclosure-width);
  aspect-ratio: 1;
  background-color: transparent;
  box-shadow: 0px 8px 5px rgb(9, 11, 20);
  border-radius: var(--border-radius);
}
.enclosure__flap {
  --_transform-lettering: 0%;
  position: absolute;
  width: 100%;
  height: 50%;
}
.enclosure__flap--top {
  --_side-num: var(--_top-side-num);
  --_transform-lettering: 0%;
  --_color: var(--_clr-dark);
  background-color: var(--_bg-dark);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.enclosure__flap--bottom {
  --_side-num: var(--_bottom-side-num);
  --_transform-lettering: -50%;
  --_color: var(--_clr-light);
  bottom: 0;
  background-color: var(--_bg-light);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}
.enclosure__flap--middle {
  perspective: var(--_perspective);
}

.middle-flap {
  position: relative;
  width: 100%;
  height: 100%;
  transform-origin: bottom;
  transform-style: preserve-3d;
}
.middle-flap-face {
  position: absolute;
  width: 100%;
  height: 100%;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  top: 0;
  overflow: hidden;
}
.middle-flap-face__front {
  --_side-num: var(--_front-side-num);
  --_transform-lettering: 0%;
  --_color: var(--_clr-dark);
  /* backface-visibility wouldn't work until transform: rotateY(0deg) was used, It's like telling the browser which is th front, It was weird cause it was working fine without adding transform */
  transform: rotateY(0deg);
  backface-visibility: hidden;
  background-color: var(--_bg-dark);
}
.middle-flap-face__back {
  --_side-num: var(--_back-side-num);
  --_transform-lettering: 0%;
  --_color: var(--_clr-light);
  background-color: var(--_bg-light);
}

.lettering {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lettering::after {
  content: var(--_side-num);
  position: absolute;
  width: 100%;
  height: 200%;
  font-size: var(--_flap-font-size);
  font-weight: bold;
  color: var(--_color);
  text-align: center;
  line-height: var(--_enclosure-width);
  transform: translateY(var(--_transform-lettering));
}
.lettering--back::after {
  scale: 1 -1;
}
.lettering__hole {
  --_transformY: 0%;
  --_transformX: 0%;
  position: absolute;
  display: block;
  width: 16%;
  transform: translateX(var(--_transformX)) translateY(var(--_transformY));
  aspect-ratio: 1;
  background-color: var(--clr-n-300);
  border-radius: 50%;
}
.lettering__hole--back-left {
  --_transformY: 50%;
  --_transformX: 50%;
  bottom: 0;
  right: 0;
}
.lettering__hole--back-right {
  --_transformY: 50%;
  --_transformX: -50%;
  bottom: 0;
  left: 0;
}
.lettering__hole--front-right {
  --_transformY: 50%;
  --_transformX: -50%;
  bottom: 0;
  left: 0;
}
.lettering__hole--front-left {
  --_transformY: 50%;
  --_transformX: 50%;
  bottom: 0;
  right: 0;
}
.lettering__hole--bottom-left {
  --_transformY: -50%;
  --_transformX: 50%;
  top: 0;
  right: 0;
}
.lettering__hole--bottom-right {
  --_transformY: -50%;
  --_transformX: -50%;
  top: 0;
  left: 0;
}
.lettering__hole--top-right {
  --_transformY: 50%;
  --_transformX: -50%;
  bottom: 0;
  left: 0;
}
.lettering__hole--top-left {
  --_transformY: 50%;
  --_transformX: 50%;
  bottom: 0;
  right: 0;
}

.animate {
  animation: rotate var(--_animation-duration) cubic-bezier(0.64, 0, 0.78, 0) infinite;
}

@keyframes rotate {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(-180deg);
  }
  100% {
    transform: rotateX(-180deg);
  }
}
.social-list {
  list-style: none;
  display: flex;
  gap: 2em;
  position: absolute;
  bottom: 8vh;
}
.social-list__icon {
  cursor: pointer;
}
.social-list__icon:hover path {
  fill: var(--clr-p-100);
}

path {
  transition: all 150ms ease-in-out;
}
