$colors: (
  p : (200:hsl(237, 18%, 59%),
    150:hsl(345, 95%, 70%),
    100:hsl(345, 95%, 68%),
  ),
  n : (100:hsl(0, 0%, 100%),
    150:hsl(236, 21%, 30%),
    200:hsl(236, 21%, 26%),
    300:hsl(235, 16%, 14%),
    400:hsl(234, 17%, 12%),
  ),
);